# EditorConfig helps maintain consistent coding styles across different editors
# See https://editorconfig.org

root = true

# Universal settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Shell scripts
[*.{sh,bash,zsh}]
indent_size = 2
shell_variant = bash

# Vim files
[*.vim]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# Git files
[*.{gitconfig,gitignore,gitattributes}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Ruby files
[*.rb]
indent_size = 2

# Python files  
[*.py]
indent_size = 4

# PHP files
[*.{php,module,inc,install,test,profile,theme}]
indent_size = 2

# JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# CSS/SCSS
[*.{css,scss,sass}]
indent_size = 2

# HTML/XML
[*.{html,xml}]
indent_size = 2